
<div class="file-bar">
    <h1 class="file-bar-title">LogPad</h1>
    <div class="file-bar-paragraphs-container">
        <p class="file-bar-p">@NumeOfLines Total lines From @NumOfFiles Files</p>
        <p class="file-bar-p">First Log - @FirstLogDateAndtime / Last Log - @LastLogDateAndtime </p>
    </div>
    <button class="btn btn-file-bar" @onclick="OpenAddOrRemoveFileWindow">Add/Remove File</button>
</div>

@code   {
    [Parameter] public int NumeOfLines { get; set; } = 0;
    [Parameter] public int NumOfFiles { get; set; } = 0;
    [Parameter] public string FirstLogDateAndtime { get; set; } = "N/A";
    [Parameter] public string LastLogDateAndtime { get; set; } = "N/A";
    [Parameter] public EventCallback OnAddOrRemoveFile { get; set; }
    
    private async Task OpenAddOrRemoveFileWindow()
    {
        await OnAddOrRemoveFile.InvokeAsync(null);
    }
}